#types {
	position: sticky;
	top: 60px;
	overflow-y: auto;
	width: 160px;
	min-width: 160px;
	height: 80vh;
}

#types li {
	margin-bottom: 8px;
	padding: 12px;
	transition: all 0.2s;
	cursor: pointer;
}

#types li:hover {
	background-color: var(--c2);
}

#types #checked {
	background-color: var(--c3);
	color: white;
}

#types div {
	display: flex;
	align-items: center;
}

#vege-checkbox {
	appearance: none;
	position: relative;
	width: 50px;
	height: 32px;
	margin-right: 8px;
	transition: all 0.2s;
	background-color: var(--c2);
	cursor: pointer;
	border-radius: 16px;
}

#vege-checkbox:checked {
	background-color: var(--c3);
}

#vege-checkbox:after {
	content: "";
	position: absolute;
	top: 2px;
	left: 2px;
	width: 28px;
	height: 28px;
	transition: all 0.2s;
	background-image: url("https://api-eko-bazarek.azurewebsites.net/images/categories/icons8-broccoli-64.png");
	background-size: 28px;
	border-radius: 50%;
}

#vege-checkbox:checked:after {
	transform: translateX(16px);
}
